{% extends "layout.html" %}
{% block content %}
    <div class="d-flex book">
        <figure class="d-flex align-items-cente">
            <img src="{{ url_for('static', filename='image/book.png') }}" alt="Book Image">
        </figure>
        <div class="d-flex flex-column justify-content-between bookDetail">
            <span class="postDate">Post Date: {{book.date_posted.strftime('%Y-%m-%d') }}</span>
            <div>
                <h3><a href="{{url_for('book', user_id=book.id)}}">{{book.book_name}}</a></h3>
                <h5>Semester : {{book.semester}}</h5>
                <h6>Sold By - <a
                        href="{{url_for('user_book', username=book.owner.username)}}">{{book.owner.username}}</a></h6>
            </div>
            <h4>&#8377 {{book.price}}</h4>
            <span class="contact">
                <a href="mailto:{{book.owner.email}}" title="Mail" target="_blank">
                    <img src="{{ url_for('static', filename='image/mail-logo.png') }}" alt="mail-logo"></a>
                <a href="https://wa.me/91{{book.phone}}?text=I am Interested in {{book.book_name}} book"
                    title="WhatsApp" target="_blank">
                    <img src="{{ url_for('static', filename='image/whatsapp-logo.png') }}" alt="whatsapp-logo"></a>
                 </span>
        </div>
    </div>
    {% if book.owner == current_user %}
    <a href="{{url_for('update_book', user_id=book.id)}}"><button>Update</button></a>
    <a href="{{url_for('delete_book', user_id=book.id)}}"><button>delete</button></a>
    {% endif %}
    </div>
{% endblock content %}