body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  box-sizing: border-box;
}



h1 {
  font-family: 'Concert One', cursive;
  user-select: none;
  font-size: 25px;
  font-weight: 400;
}

h2,h3 {
  font-family: 'Noto Sans', sans-serif;
}

h4,h5,h6,p,span,input,label,select,button,a {
  font-family: 'Open Sans', sans-serif;;
}

.bg-steel {
  background-color: brown;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

main {
  width: 100%;
}

main .wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  width: 50%;
}

.intro h1 {
  color: brown;
  font-size: 50px;
  font-family: 'Concert One', cursive;
  user-select: none;
}

.intro p {
  margin: 10px 0;
  color: #555;
  font-size: 20px;  
  line-height: 1.5;
}

.collapse {
  justify-content: flex-end;
}

.form-group{
  margin-bottom: 10px;
}
.container{
  padding-right: 150px;
  padding-left: 150px;
}

.books h2 {
  max-width: 50%;
  min-width: 350px;
  padding: 10px 0;
  border-bottom: 4px solid #333;
  margin: 0 auto;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.bookList {
  margin: 100px 0 10px;
}

.book {
  width: 49%;
  height: 220px;
  border: 1px solid rgb(201, 201, 201);
  margin-bottom: 30px;
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
}

.book figure {
  width: 220px;
  height: 220px;
  border-right: 1px solid rgb(201, 201, 201);
}

.bookDetail {
  padding: 10px 20px;
}

.bookDetail .postDate {
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(78, 80, 112);
  font-size: 12px;
  font-weight: 500;
}

.bookDetail h3 {
  padding-bottom: 2px;
  border-bottom: 3px solid #000;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.bookDetail h3 a {
  color: initial;
  text-decoration: none;
}

.bookDetail h3 a:hover {
  opacity: 0.6;
}

.bookDetail h4 {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 600;
}

.bookDetail h5 {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(100, 100, 100);
}

.bookDetail h6 {
  margin-top: 8px;
  font-size: 13px;
  color: #555;
  text-transform: capitalize;
}

.bookDetail .contact {
  margin: 10px 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.bookDetail .contact a:first-child {
  margin-right: 10px;
}

.bookDetail .contact img {
  width: 30px;
}

.bookDetail .contact img:hover {
  opacity: 0.5;
}

#book-pagination {
  margin-bottom: 0;
}



