{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Books by {{ user.username }} ({{books.total}})</h1>
{% for book in books.items %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='image/' + book.book_img) }}" ,
        alt="book_image">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{url_for('user_book', username=book.owner.username)}}">{{book.owner.username}}</a>
            <small class="text-muted">{{book.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h3>Bookname : <a href="{{url_for('book', user_id=book.id)}}">{{book.book_name}}</a></h3>
        <a class="nav-item nav-link" href="mailto:{{book.owner.email}}">Send mail</a>
        <h4>price : {{book.price}}</h4>
        <h4>Semester : {{book.semester}}</h4>
        <a class="nav-item nav-link"
            href='https://wa.me/91{{book.phone}}?text=I am Interested in {{book.book_name}} book'
            target="_blank">Whatsapp</a>
    </div>
</article>
{% endfor %}
{% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
{% if page_num %}
{% if books.page == page_num %}
<a class="btn btn-info mb-4" href="{{url_for('user_book', username=user.username, page=page_num)}}">{{page_num}}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{url_for('user_book', username=user.username, page=page_num)}}">{{page_num}}</a>
{% endif %}
{% else %}

{% endif %}
{% endfor %}
{% endblock content %}